doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body.bg-dark
    .container
      .card.card-login.mx-auto.mt-5
        .card-header
          | Mengatur Ulang Kata Sandi
        .card-body
          .text-center.mt-4.mb-5
            h4 Lupa Kata Sandi Anda?
            p
              | Masukkan alamat email anda dan kami akan mengirim intruksi cara untuk mengatur ulang kata sandi anda.
          form
            .form-group
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
            a.btn.btn-primary.btn-block(href='login.html') Atur Ulang Kata Sandi Anda
          .text-center
            a.d-block.small.mt-3(href='register.html') Daftarkan Akun 
            a.d-block.small(href='login.html') Halaman Login 

    include includes/js/core.pug
